<div class="flex flex-col-reverse justify-between md:flex-row mx-auto mt-6">
  <div class="w-full">
  <!-- 分类 
  <div class="mb-4 mt-4 md:mt-0 md:mb-6">
    {% for cat in site.cat_order %}
      {% if cat.title == include.post.categories[0] %}
        <a href="{{ site.baseurl }}{{ cat.url }}"
          aria-label="Category {{ include.post.categories[0] }} url"
          class="font-mulish hover:underline text-neutral-600 dark:text-neutral-300">
          {{ include.post.categories[0] | upcase }}
        </a>
      {% endif %}
    {% endfor %}
  </div>-->

  <!-- 标题 -->
  <a href="{{ include.post.url | relative_url }}" aria-label="Post Url">
    <h2 class="text-2xl md:text-4xl font-bold text-gray-800 dark:text-neutral-100 pb-4 hover:underline underline-offset-2 decoration-2">
      {{ include.post.title }}
    </h2>
  </a>

  <!-- 作者 + 描述（同一行） -->
  {% if include.post.author or include.post.description %}
    <div class="md:text-lg pb-6 font-semibold">
      <p>
        {% if include.post.author %}{{ include.post.author }}{% endif %}
        {% if include.post.author and include.post.description %} • {% endif %}
        {% if include.post.description %}{{ include.post.description }}{% endif %}
      </p>
    </div>
  {% endif %}

  <!-- 摘要 -->
  {% if include.post.abstract %}
    <div class="md:text-lg pb-6" style="text-align: justify;">
      <span class="font-bold">Abstract: </span>
      {{ include.post.abstract | strip_html }}
    </div>
  {% endif %}

  </div>
</div>
