<div class="flex flex-col justify-between">
  <div class="flex flex-col justify-between max-w-lg">
    <div class="pt-6">
      <a href="{{ site.url }}{{ site.baseurl }}/{{ include.post.permalink }}"
        aria-label="Category {{include.post.categories[0]}} url"
        class="font-mulish text-sm text-gray-600 dark:text-neutral-200 hover:underline">
        {{ include.post.categories[0] | upcase }}
      </a>
    </div>
    <a href="{{ include.post.url | relative_url }}" aria-label="Post Url">
      <h2 
        class="hover:underline decoration-2 underline-offset-2 font-semibold text-2xl text-neutral-800 dark:text-neutral-50 pt-6"
      >
        {{ include.post.title }}
      </h2>
    </a>
  </div>
  <span class="text-sm text-gray-500 dark:text-neutral-200 pt-6">
    {{ include.post.author }}
  </span>
</div>
