<div class="flex flex-col-reverse justify-between md:flex-row mx-auto">
  <div class="w-full">
    <!-- 分类 -->
    <div class="mb-4 mt-4 md:mt-0 md:mb-6">
      <a href="{{site.url}}{{site.baseurl}}/category/{{ include.post.categories[0] | replace: ' ', '-' | downcase }}"
        aria-label="Category {{ include.post.categories[0] }} url"
        class="font-mulish hover:underline text-neutral-600 dark:text-neutral-300">
        {{ include.post.categories[0] | upcase }}
      </a>
    </div>

    <!-- 标题 -->
    <h2 class="text-2xl md:text-4xl font-bold text-gray-800 dark:text-neutral-100 pb-4">
      {{ include.post.title }}
    </h2>

    <!-- 作者 + 描述（同一行） -->
    {% if include.post.author %}
      <div class="md:text-lg pb-6 font-semibold text-justify">
        <p>
          {{ include.post.author }}<span class="px-2">.</span>{{ include.post.description }}
        </p>
      </div>
    {% endif %}

    <!-- 摘要 -->
    {% if include.post.abstract %}
      <div class="md:text-lg pb-6 font-semibold text-justify">
        <span class="font-bold">Abstract: </span>
        {{ include.post.abstract | strip_html }}
      </div>
    {% endif %}

  </div>
</div>
