---
layout: default
---

<section class="container mx-auto pb-10 pt-20 lg:pt-[90px] lg:pb-20">

  {%- if site.cat_order and site.cat_order.size > 0 -%}
  <div class="flex flex-wrap justify-center border-neutral-500 border-y mb-4 md:mb-12">
    {%- assign current_cat = page.title -%}
    {%- for cat in site.cat_order -%}
      <a
        href="{{site.url}}{{site.baseurl}}/category/{{ cat | replace: ' ', '-' | downcase }}"
        aria-label="Category {{cat}} page"
        class="block font-mulish hover:underline p-4 {% if cat == current_cat %}font-black{% endif %}"
      >
        {{ cat | upcase }}
      </a>
    {%- endfor -%}
  </div>
  {%- endif -%} 

  {%- assign posts = page.posts | default: site.posts -%}

  <div class="space-y-16">
    {%- for post in posts -%}
      <div data-motion="fadeInLeft">
        {% include post_main.html post=post %}
      </div>
    {%- endfor -%}
  </div>

</section>
