---
layout: default
---

<section
  id="main"
  class="flex flex-col md:flex-row items-center justify-center py-16 md:h-screen border-b-2 dark:border-0"
>
  <div class="md:mx-2" data-motion="fadeInLeft">
    <img
      class="object-cover w-full h-full sm:w-80 sm:h-80 sm:rounded-full"
      src="{{ page.image | relative_url | default: 'https://ik.imagekit.io/ikmedia/avif_samples/photo3_avif_6O32dW2NT.png' }}"
      alt="{{ page.description }}"
    />
  </div>
  <div class="fadeIn mx-4 w-4/5 md:w-2/5 text-center md:text-left mt-6 md:mt-0" data-motion="fadeInRight">
    <div class="prose md:prose-lg prose-h1:text-4xl prose-h2:text-3xl prose-h1:mb-1 dark:prose-invert">
      {{ page.main_content | markdownify }}
    </div>
    {% if site.contact_channels_section %}
    <p class="mt-4">
      {{ site.data[site.active_lang].strings.home.contact_me | default:
      site.data['en'].strings.home.contact_me}}
    </p>

    {%include contact_channels.html %} {% endif %}
  </div>
</section>

{% assign trimmed_content = content | strip | replace: "\n", "" | replace: "\r", "" | replace: "\t", "" %} 

{% if trimmed_content != "" %}
  <section
    id="content"
    class="inout container mx-auto flex flex-col items-center justify-center min-h-screen"
  >
    <article class="prose prose-lg dark:prose-invert prose-h1:text-5xl prose-h2:text-3xl mx-auto py-16" data-motion="fadeInUp">{{content}}</article>
  </section>
{% endif %}

<div
  id="dot-nav"
  class="fixed left-0 top-1/2 transform -translate-y-1/2 space-y-4 bg-white/80 rounded-r-lg p-4"
>
  <a
    href="#main"
    aria-label="Jump to main section"
    class="dot w-3 h-3 block rounded-full border-2 border-gray-800 bg-gray-800 hover:scale-125"
  ></a>
  <a
    href="#content"
    aria-label="Jump to content section"
    class="dot w-3 h-3 block rounded-full border-2 border-gray-800 hover:scale-125"
  ></a>
  {% endif %}
</div>

<script src="{{ '/assets/js/dot-navigation.js'| relative_url }}"></script>
